@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap');

:root{
    --tred:  hsl(355°, 86%, 85%);
    --wred: hsl(355, 100%, 74%);
    --red:   hsl(353, 100%, 62%);
    --darkblue: hsl(237, 23%, 32%);
    --blackblue: hsl(240, 10%, 16%);
}

body{
    font-family: 'Overpass', sans-serif;
    font-size: 16px;
}

/*Start Header*/
header{
    height: 85vh;

    background-image: linear-gradient(
        30deg,
        hsl(13, 100%, 72%, 0.9),
        hsl(353, 100%, 62%, 0.9)
    ),url('images/bg-pattern-intro-desktop.svg');

    background-size: contain, 3200px;
    background-repeat: no-repeat;
    background-position: 30% 50%;

    border-radius: 0 0 0 8%;
}

/*Start nav bar*/
.icon{
    background-image: url('./images/icon-arrow-dark.svg');
}
.login{
    text-decoration: none;
    color: var(--tred);
}
.btn-col{
    font-weight: 600;
    background-color: #fff;
    color: var(--wred);
}
.btn-col:hover{
    background-color: var(--wred);
    color: var(--ted);
    border:none;
}
.btn-learn:hover{
    color: var(--wred);
}
/*End nav bar*/

/*Start Banner*/
.banners{
    display: flex;
    text-align: center;
    position: absolute;
    top: 250px;
}

/*End banner*/

/*End Header*/

/*Start design section*/
.back-editor{
    background-image: url('./images/illustration-editor-desktop.svg');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: 145% 0%;
    margin-top: 80px; 
    padding-bottom: 130px;
}
.editors{
    padding-top: 10px;
}

@media (max-width: 768px){
    .back-editor{
        background-image: url('./images/illustration-editor-mobile.svg');
        background-position: 50% 20%;
    }
    .editors{
        margin-top: 200px;
    }
}
/*End design section*/

/*Start Art Section*/
.arts{
    background-color: var(--darkblue);
    background-image: url("./images/bg-pattern-circles.svg");
    background-repeat: no-repeat;
    background-position: -10% 100%;
    border-radius:0 70px 0 70px;

    position: relative;
    z-index: -1;
}
.img-phones{
    position:absolute;
    left:7%;
    top: -15%;
}
.ph-sites{

}

.text-arts{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    text-align: left;

    /*padding-right: 200px;*/
    margin-top: 110px;
    margin-bottom: 110px;
}
.text-arts h3{
    text-align: center;
}

@media (max-width: 1194px){
    .img-phones{
        width: 50%;
        left:0;
        top: -15%;
    }
}

@media(max-width: 800px){
    .img-phones{

        width: 100%;
        left: -1%;
        top: -80%;
        padding-top: 200px;
        width: 80%;
    }
    .arts{
        background-position: 50% 110%;
        /*margin-top: 200px;*/
    }
    .text-arts{
        margin-top: 290px;
        z-index: 1;
    }
    .back-editor{
        margin-bottom: 150px;
    }
}
@media(max-width: 800px){
    .text-arts{
        margin-top: 230px;
    }
}
/*End Art Section*/

/*Start Tool Section*/

.tools{
    background: url(images/illustration-laptop-desktop.svg);
    background-repeat: no-repeat;
    background-position:-80% 100px;
    padding-top: 150px;
    padding-bottom: 150px;
}
.text-tools{
    padding: 150px 150px 150px 0;
}

@media (max-width: 1000px){
    .tools{
        background: url('images/illustration-laptop-mobile.svg');
        background-repeat: no-repeat;
    }
    .text-tools{
        padding: 200px 0 20px 50px;
    }
}

/*End Tool Section*/

/*Start Footer Section*/
.footer{
    background-color: var(--blackblue);
    color: #fff;
    border-radius: 0 100px 0 100px;

}

.footer-link{
    text-decoration: none;
    color:#fff;
    padding-bottom: 40px;
}
.footer-link:hover{
    color: #fff;
    text-decoration: underline;

}
@media (max-width: 766px){
    .footer h1{
        padding-bottom: 50px;
    }

    .footer .list-unstyled{
        padding-bottom: 30px;
    }
}
/*End Footer Section*/


